.a{
	height:50px;
	width:80px;
	background-color:grey;
	margin-right:10px;
}
.b{
	height:50px;
	width:80px;
	background-color:grey;
	margin-right:10px;
}
.c{
	height:50px;
	width:80px;
	background-color:grey;
	margin-right:10px;
}
.d{
	height:50px;
	width:80px;
	background-color:grey;
	margin-right:10px;
}